/* Project name: EnRise */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Date: 06-08-2024 */

footer{
    color: var(--logod);
    background-color: var(--logow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 190px));
    row-gap: 10%;
}

.footer{
    display: block;
    margin: auto;
    padding: auto;
    text-wrap: wrap;
    text-align: center;
}

#lf, #if, #tf, #ff{
    width: 28px;
    margin: 1%;
}

@media (min-width: 1024px) {#lf, #if, #ff, #tf{
    width: 28px;
    margin: 1%;
}} 

@media (min-width: 1280px) {#lf, #if, #ff, #tf{
    width: 30px;
    margin: 1%;
}}

/*90% or less*/
@media (min-width: 1536px) {#lf, #if, #ff, #tf{
    width: 45px;
    margin: 1%;
}}
@media (min-width: 1800px) {#lf, #if, #ff, #tf{
    width: 50px;
    margin: 1%;
}}
@media (min-width: 2000px) {#lf, #if, #ff, #tf{
    width: 60px;
    margin: 1%;
}}
@media (min-width: 2250px) {#lf, #if, #ff, #tf{
    width: 70px;
    margin: 1%;
}}
@media (min-width: 2350px) {#lf, #if, #ff, #tf{
    width: 80px;
    margin: 1%;
}}
@media (min-width: 2500px) {#lf, #if, #ff, #tf{
    width: 90px;
    margin: 1%;
}}

/*90% or less*/
