/* File wide variables */
:root{
    /* logo light blue */
    --logol: #2b4e61;
    /* Gradient dark*/
    --grad1: #4d6c93;
    /* The light gradient color btw */
    --grad2: #7597c0;
    /* The whites */
    --logow: #fbfaff;
    /* logo dark balck*/
    --logod: #2e2e2e;
    /* Slide blue */
    --slidesb: #90aecc;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

footer{
    color: var(--logod);
    background-color: var(--logow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(70px, 100px));
    column-gap: 5%;
    row-gap: 10%;
    justify-content: space-evenly;
}

#logoFooter{
    width: 50px;
}

.footer{
    display: block;
    margin: auto;
    text-wrap: wrap;
    text-align: center;
}

#lf{
    width: 28px;
    margin: 1%;
}

#if{
    width: 28px;
    margin: 1%;
}

