/* Project name: EnRise */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Date: 06-08-2024 */

header{
    background-color: var(--logow);
}

#tabline{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    justify-items: center;
    align-items: center;
}

#fimg{
    width: 50px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}

#pages{
    padding-top: 20px;
}

#linkedin, #insta, #facebook, #twitter{
    width: 28px;
    margin-left: 8%;
    margin-right: 8%;
}

@media (min-width: 1024px) {#linkedin, #insta, #facebook, #twitter{
    width: 28px;
}#fimg{
    width: 30px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}} 
@media (min-width: 1280px) {#linkedin, #insta, #facebook, #twitter{
    width: 30px;
}#fimg{
    width: 30px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
/*90% or less*/
@media (min-width: 1536px) {#linkedin, #insta, #facebook, #twitter{
    width: 45px;
}#fimg{
    width: 45px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
@media (min-width: 1800px) {#linkedin, #insta, #facebook, #twitter{
    width: 50px;
}#fimg{
    width: 58px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
@media (min-width: 2000px) {#linkedin, #insta, #facebook, #twitter{
    width: 60px;
}#fimg{
    width: 70px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
@media (min-width: 2250px) {#linkedin, #insta, #facebook, #twitter{
    width: 70px;
}#fimg{
    width: 80px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
@media (min-width: 2350px) {#linkedin, #insta, #facebook, #twitter{
    width: 80px;
}#fimg{
    width: 90px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}
@media (min-width: 2500px) {#linkedin, #insta, #facebook, #twitter{
    width: 90px;
}#fimg{
    width: 140px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8px;
    margin-right: 8px;
}}

