/* File wide variables */
* {
  box-sizing: border-box;
}

:root{
    /* logo light blue */
    --logol: #2b4e61;
    /* Gradient dark*/
    --grad1: #4d6c93;
    /* The light gradient color btw */
    --grad2: #7597c0;
    /* The whites */
    --logow: #fbfaff;
    /* logo dark balck*/
    --logod: #2e2e2e;
    /* Slide blue */
    --slidesb: #90aecc;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

.container#intro:hover #logo{
    opacity: 0.3;
}


.container#intro:hover #callToAction{
    opacity: 1;
}

#intro{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
}

#logo {
    grid-column: 1 / 13;
    grid-row: 1 / 13;
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

#callToAction{
    grid-column: 6 / 8;
    grid-row: 6 / 8;
    transition: .5s ease;
    opacity: 0;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 20% auto;
    text-align: center;
}

#model, #Name, #slogan {
    text-align: center;
    color: var(--logow);
}

