/* File wide variables */
:root{
    /* logo light blue */
    --logol: #2b4e61;
    /* Gradient dark*/
    --grad1: #4d6c93;
    /* The light gradient color btw */
    --grad2: #7597c0;
    /* The whites */
    --logow: #fbfaff;
    /* logo dark balck*/
    --logod: #2e2e2e;
    /* Slide blue */
    --slidesb: #90aecc;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

.container#intro:hover #logo{
    opacity: 0.3;
}

.container#intro:hover #callToAction{
    opacity: 1;
}

#intro{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1%, 1fr));
    justify-items: center;
    align-items: center;
}

#logo {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    opacity: 1;
    margin: auto;
    display: block;
    width: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

#callToAction{
    grid-column: 1 / 1;
    width: minmax(1%, 100%);
    grid-row: 1 / 1;
    transition: .5s ease;
    opacity: 0;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 20% auto;
    text-align: center;
}

#model, #Name, #slogan {
    text-align: center;
    color: var(--logow);
    text-wrap: wrap;
}

#emailinp{
    width: .3fr;
}

