/* Project name: EnRise */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Date: 06-08-2024 */

/* n commenting will lead ot the fade in and out of hte image with the call to action */
/* .container#intro:hover #logo{ */
/*     opacity: 0.3; */
/* } */
/**/
/* .container#intro:hover #callToAction{ */
/*     opacity: 1; */
/* } */
/**/

#intro{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(0%, 100%));
    justify-items: center;
    align-items: center;
}

#logo {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    opacity: 1;
    margin: auto;
    display: block;
    width: 90%;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

#callToAction{
    grid-column: 1 / 1;
    width: minmax(1%, 100%);
    grid-row: 1 / 1;
    transition: .5s ease;
    opacity: 0;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 20% auto;
    text-align: center;
}

#model, #Name, #slogan {
    text-align: center;
    text-wrap: wrap;
    color: var(--logow);
}

