/* File wide variables */
:root{
    /* logo light blue */
    --logol: #2b4e61;
    /* Gradient dark*/
    --grad1: #4d6c93;
    /* The light gradient color btw */
    --grad2: #7597c0;
    /* The whites */
    --logow: #fbfaff;
    /* logo dark balck*/
    --logod: #2e2e2e;
    /* Slide blue */
    --slidesb: #90aecc;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

#problem{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--logow);
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    grid-template-rows: repeat(auto-fit, 1fr);
}

#biomass {
    padding-top: 10px;
    border-radius: 100%;
    transition: .5s ease;
    width: 43%;
    height: 90%;
    margin: auto;
    display: block;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#forest{
    padding-top: 10px;
    border-radius: 100%;
    transition: .5s ease;
    width: 40%;
    height: 90%;
    margin: auto;
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#forest:hover, #biomass:hover {
    opacity: 0.3;
}

#p1{
    margin: 10px;
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

#p2{
    margin: 10px;
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

