/* Project name: EnRise */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Date: 06-08-2024 */

#problem{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--logow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 50%));
    grid-template-rows: repeat(auto-fit, minmax(0%, 100%));
}

#biomass {
    padding-top: 10px;
    border-radius: 100%;
    transition: .5s ease;
    width: 43%;
    height: 90%;
    margin: auto;
    display: block;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#forest{
    padding-top: 10px;
    border-radius: 100%;
    transition: .5s ease;
    width: 40%;
    height: 90%;
    margin: auto;
    display: block;
}

#forest:hover, #biomass:hover {
    opacity: 0.3;
}

#p1{
    text-wrap: wrap;
    text-align: center;
    margin: 10px;
    text-align: center;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

#p2{
    text-wrap: wrap;
    text-align: center;
    margin: 10px;
    text-align: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

