#solution{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#firsts, #seconds{
    margin: 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(10%, 100%));
    column-gap: 10%;
    justify-items: center;
    align-items: center;
}

#firstst{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    border-radius: 10%;
    background-color: var(--logow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#secondst{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-radius: 10%;
    background-color: var(--logow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#firstsi{
    width: 100%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#secondsi{
    width: 100%;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#im1, #im2{
    border-radius: 10%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#solholder{
    text-align: center;
    margin: 18%;
}

#enrisesol{
    text-wrap: wrap;
}

