#solution{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#firsts{
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(10%, 100%));
}

#seconds{
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(10%, 100%));
}

#firstst{
    grid-column: 12 / 25;
    grid-row: 6 / 18;
    background-color: var(--logow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#secondst{
    grid-column: 1 / 14;
    grid-row: 1 / 14;
    background-color: var(--logow);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#firstsi{
    width: 90%;
    grid-column: 1 / 14;
    grid-row: 1 / 20;
}

#secondsi{
    width: 85%;
    grid-column: 12 / 25;
    grid-row: 12 / 25;
}

#im1{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#im2{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#innderfirst{
    text-align: center;
    margin: 8%;
}

#inndersec{
    text-align: center;
    margin: 8%;
}

