main{
    margin: 5%;
}
.entry{
    background-color: var(--logow);
    margin: 5%;
}

.format{
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 100%));
    grid-template-rows: repeat(auto-fit, minmax(0%, 100%));
}

.member{
    border-radius: 100%;
    width: 50%;
}
