Palette Hex values.txt
Summerschool/
Designs/
Immersive furures hackathon/
Market/
Presentations/
For editing EnRise.pptx
Squarespace/
Vestigial/
Assets/EnRise paper feedback google form.svg
Assets/EnRise website qr.png
Assets/EnRise website.svg
Assets/George EnRuse logo headshot.jpg
Assets/Official EnRise video.mp4
Assets/Presentation assets/
Assets/Prototype_Alpha.jpg
Assets/Science Technology Background Music [Future Innovation High Tech Music] Royalty Free.mp3
Assets/WARNING strings sim test giannis not our property.mp4
Assets/design2.png
Assets/lgo render 1 paper.mp4
Assets/multi paper idea 1.mp4
Assets/top.png
Assets/video 85 degree spin angle 10001-0300.mp4
Assets/video rise angle 1 2nd vid0001-0300.mp4
Images/archimedes presentations fianl picture.jpg
Logos/EnPrint Logo.png
Logos/EnRise Symbol.svg
Logos/enrisecompacttransparentlight.png
Logos/enrisefont.svg
Logos/enriselogo1.svg
Logos/enrisesquarecompactlight.png
Logos/logo colors 1.png
Logos/logo colors 2.png
Research/Trees/
The team/Aris/Aris EnRise card qr.png
The team/Aris/Aris Green and White Modern Business Card.pdf
The team/Aris/Cv Aris Podotas.pdf
The team/Aris/My EnRise card.svg
The team/Aris/My business card print.pptx
The team/EnRise Business Description.pdf
The team/Fotis/Fotis EnRise card qr.png
The team/Fotis/Fotis EnRise card.svg
The team/Fotis/Fotis Green and White Modern Business Card.pdf
The team/George/George Green and White Modern Business Card.pdf
The team/George/Georges EnRise card qr.png
The team/George/Georges EnRise card.svg
The team/Panos/
The team/Veronica/
The team/team 2.jpg
The team/team.jpg
The team/team2bw.jpg
The team/teambw.jpg
Assets/Science Technology Background Music [Future Innovation High Tech Music] Royalty Free.mp3
holder.txt
notes.txt

