header{
    background-color: var(--logow);
    color: var(--logod);
}

/* Section break ============= */

body{
    background-image: linear-gradient(to right, var(--grad1), var(--grad2), var(--grad1));
    margin: 0;
    font-family: 'Libre Franklin', Verdana;
    font-size: 20px;
}

