/* Project name: EnRise */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Date: 06-08-2024 */

/* File wide variables */
* {
  box-sizing: border-box;
}

:root{
    /* logo light blue */
    --logol: #2b4e61;
    /* Gradient dark*/
    --grad1: #4d6c93;
    /* The light gradient color btw */
    --grad2: #7597c0;
    /* The whites */
    --logow: #fbfaff;
    /* logo dark balck*/
    --logod: #2e2e2e;
    /* Slide blue */
    --slidesb: #90aecc;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

header{
    background-color: var(--logow);
    color: var(--logod);
}

body{
    background-image: linear-gradient(to right, var(--grad1), var(--grad2), var(--grad1));
    margin: 0;
    font-family: 'Libre Franklin', Verdana;
    text-wrap: wrap;
    /* font-size: 20px; */
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.link{
    color: var(--logod);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

h1{
    color: var(--grad1);
}

@media (min-width: 1px) {body{font-size: 4px;}}
@media (min-width: 275px) {body{font-size: 6px;}}
@media (min-width: 475px) {body{font-size: 8px;}}
@media (min-width: 640px) {body{font-size: 12px;}}
@media (min-width: 768px) {body{font-size: 16px;}}
@media (min-width: 1024px) {body{font-size: 20px;}} 
@media (min-width: 1280px) {body{font-size: 24px;}}
/*90% or less*/
@media (min-width: 1536px) {body{font-size: 30px;}}
@media (min-width: 1800px) {body{font-size: 36px;}}
@media (min-width: 2000px) {body{font-size: 46px;}}
@media (min-width: 2400px) {body{font-size: 56px;}}
@media (min-width: 3200px) {body{font-size: 72px;}}
@media (min-width: 3800px) {body{font-size: 84px;}}
@media (min-width: 4200px) {body{font-size: 100px;}}

